<div class="my-3" dir="rtl">
  <mat-accordion>
    <mat-expansion-panel (opened)="openAdvancedSearchPanel()">
      <mat-expansion-panel-header>
        <mat-panel-title> بحث متقدم </mat-panel-title>
      </mat-expansion-panel-header>

      <form [formGroup]="form" (submit)="AdvancedSearchSubmit()">
        <mat-grid-list cols="4" rowHeight="450px">
          <mat-grid-tile>
            <div class="controles-container">

              <fieldset class="scheduler-border w-100">
                <legend class="scheduler-border"> <mat-icon>perm_contact_calender</mat-icon> بيانات الموظف</legend>
                <div class="control-group">

                  <mat-form-field appearance="fill" class="serch  w-100">
                    <mat-label>رقم  </mat-label>
                    <input matInput type="number" formControlName="id" />
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="serch  w-100">
                    <mat-label>الرقم الوظيفي</mat-label>
                    <input matInput formControlName="jobNumber"/>
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="serch  w-100">
                    <mat-label>اسم الموظف</mat-label>
                    <input matInput formControlName="userName"/>
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="serch  w-100">
                    <mat-select formControlName="jobDegreeId" placeholder="*الحالة الوظيفيه(--اختر--)">
                      <mat-option>-- Please select --</mat-option>
                      <mat-option  *ngFor="let jobDegree of jobDegreeList"   [value]="jobDegree.id">
                        {{jobDegree.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="serch  w-100">
                    <mat-select formControlName="companyType"  placeholder=" *نوع الشركه (--اختار--) " >
                      <mat-option>-- Please select --</mat-option>
                      <mat-option value="Tedate Staff">Tedate Staff</mat-option>
                      <mat-option value="Outsource">Outsource</mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
            </fieldset>




            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="controles-container">
              <fieldset class="scheduler-border w-100">
                <legend class="scheduler-border"> <mat-icon>propane_tank</mat-icon> بيانات المأمورية</legend>
                <div class="control-group">
                  <mat-form-field appearance="fill" class="serch w-100">
                    <mat-select formControlName="missionTypeId" placeholder=" *نوع المامورية (--اختر--) ">
                      <mat-option>-- Please select --</mat-option>
                      <mat-option  *ngFor="let missionType of missionTypeList"   [value]="missionType.id">
                        {{missionType.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="serch w-100">
                    <mat-label>مكان المأمورية</mat-label>
                    <input matInput  formControlName="missionPlace" />
                  </mat-form-field>
              <mat-form-field appearance="fill" class="serch w-100">
                <mat-label>غرض المأمورية</mat-label>
                <input matInput formControlName="missionPurpose" />
              </mat-form-field>
              <div class="w-100 d-flex" >

                <mat-form-field appearance="fill" class="w-50 serch">
                    <input formControlName="startDateMission" matInput [matDatepicker]="startDateMission" placeholder="بداية المأمورية ">
                    <mat-datepicker-toggle matSuffix [for]="startDateMission"></mat-datepicker-toggle>
                    <mat-datepicker #startDateMission></mat-datepicker>
                  </mat-form-field>
                <mat-form-field appearance="fill" class="w-50  serch" style="border-right:5px solid #fff">
                    <input formControlName="endDateMission" matInput [matDatepicker]="endDateMission" placeholder="نهاية المأمورية" [min]="form.controls.EndDateMission?.value">
                    <mat-datepicker-toggle matSuffix [for]="endDateMission"></mat-datepicker-toggle>
                    <mat-datepicker #endDateMission></mat-datepicker>
                  </mat-form-field>

                </div>


              <mat-form-field appearance="fill" class=" w-100 serch">
                <mat-label>تكلفة المأمورية</mat-label>
                <input matInput formControlName="missionTypeCost"/>
              </mat-form-field>
            </div>
          </fieldset>
            </div>


          </mat-grid-tile>
          <mat-grid-tile>
            <div class="controles-container">
              <fieldset class="scheduler-border w-100">
                <legend class="scheduler-border"> <mat-icon>nights_stay</mat-icon> بيانات الاقامة</legend>
                <div class="control-group">

                  <div class="w-100 d-flex" >
                    <mat-form-field appearance="fill" class="w-50 serch">
                        <input formControlName="startDateStay" matInput [matDatepicker]="startDateStay" placeholder="بداية الاقامة">
                        <mat-datepicker-toggle matSuffix [for]="startDateStay"></mat-datepicker-toggle>
                        <mat-datepicker #startDateStay></mat-datepicker>
                      </mat-form-field>
                    <mat-form-field appearance="fill" class="w-50  serch" style="border-right:5px solid #fff">
                        <input formControlName="endDateStay" matInput [matDatepicker]="endDateStay" placeholder="نهاية الاقامة" [min]="form.controls.EndDateStay?.value">
                        <mat-datepicker-toggle matSuffix [for]="endDateStay"></mat-datepicker-toggle>
                        <mat-datepicker #endDateStay></mat-datepicker>
                      </mat-form-field>

                    </div>
                  <mat-form-field appearance="fill" class="serch w-100">
                    <mat-label>عدد الليالى</mat-label>
                    <input matInput formControlName="noOfNights" type="number"min="0" />
                  </mat-form-field>
              <mat-form-field appearance="fill" class="serch w-100">
                <mat-label>وجبات ونثريات</mat-label>
                <input matInput formControlName="mealsAndIncidentals" type="number"/>
              </mat-form-field>

              <mat-form-field appearance="fill" class="serch w-100">
                <mat-label>طلب الاذن</mat-label>
                <input matInput formControlName="permissionRequest"/>
              </mat-form-field>

              <mat-form-field appearance="fill" class="serch w-100">
                <mat-label>مدة الاذن</mat-label>
                <input matInput formControlName="permissionDuration"/>
              </mat-form-field>




            </div>
          </fieldset>

            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="controles-container">


              <fieldset class="scheduler-border w-100">
                <legend class="scheduler-border"> <mat-icon>verified_user</mat-icon> بيانات اخرى</legend>
                <div class="control-group">

              <mat-form-field appearance="fill" class="serch w-100">
                <mat-select formControlName="statusId"  placeholder=" *الحاله (--اختر--) ">
                  <mat-option>-- Please select --</mat-option>
                  <mat-option  *ngFor="let status of statusList"   [value]="status.id">
                    {{status.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" class="serch w-100">
                <mat-label>ملاحظات</mat-label>
                <input matInput formControlName="comment"  />
              </mat-form-field>

              <mat-form-field appearance="fill" class="serch w-100">
                <mat-label>اسم المستخدم</mat-label>
                <input matInput formControlName="createdBy" />
              </mat-form-field>

              <mat-form-field appearance="fill" class="serch w-100">
                <mat-label>اسم المعدل</mat-label>
                <input matInput formControlName="updatedBy" />
              </mat-form-field>
            </div>
            <div class="w-100 d-flex" >

              <mat-form-field appearance="fill" class="w-50 serch">
                  <input formControlName="createdDateFrom" matInput [matDatepicker]="createdDateFrom" placeholder="من">
                  <mat-datepicker-toggle matSuffix [for]="createdDateFrom"></mat-datepicker-toggle>
                  <mat-datepicker #createdDateFrom></mat-datepicker>
                </mat-form-field>

              <mat-form-field appearance="fill" class="w-50  serch" style="border-right:5px solid #fff">
                  <input formControlName="createdDateTo" matInput [matDatepicker]="createdDateTo" placeholder="الى" [min]="form.controls.createdDateFrom?.value">
                  <mat-datepicker-toggle matSuffix [for]="createdDateTo"></mat-datepicker-toggle>
                  <mat-datepicker #createdDateTo></mat-datepicker>
                </mat-form-field>

              </div>
              <div class="w-100 d-flex">
                <mat-form-field appearance="fill" class="w-50 serch">
                    <input formControlName="updatedDateFrom" matInput [matDatepicker]="updatedDateFrom" placeholder="من">
                    <mat-datepicker-toggle matSuffix [for]="updatedDateFrom"></mat-datepicker-toggle>
                    <mat-datepicker #updatedDateFrom></mat-datepicker>
                  </mat-form-field>
                <mat-form-field appearance="fill" class="w-50 serch"  style="border-right:5px solid #fff">
                    <input formControlName="updatedDateTo" matInput [matDatepicker]="updatedDateTo" placeholder="الى" [min]="form.controls.updatedDateFrom?.value">
                    <mat-datepicker-toggle matSuffix [for]="updatedDateTo"></mat-datepicker-toggle>
                    <mat-datepicker #updatedDateTo></mat-datepicker>
                  </mat-form-field>
                </div>
              </fieldset>
                </div>


          </mat-grid-tile>
        </mat-grid-list>
        <div class="w-100 d-flex justify-content-end btn-group">
          <input
            mat-raised-button
            value="مسح "
            class="btn-danger text-center mx-1 ser"
            (click)="clearAdvancedSearch()"
            readonly
          />

          <button mat-raised-button class="ser" color="warn">بحث</button>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title> المأموريات </mat-card-title>
    <button mat-button class="opt" (click)="addMission()">
      <mat-icon class="add-new ico">add</mat-icon>
      <span class="txt mr-1">اضافة مأمورية</span>
    </button>
    <button mat-button [matMenuTriggerFor]="menu" class="opt mr-1" >
      <mat-icon class="">download</mat-icon>
      <span class="txt mr-1"> تنزيل ملف </span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item  class="opt text-right" (click)="exportPdf()">

        <span class=" mr-1"> تنزيل مصروفات السفر عن المأموريات </span>
        <mat-icon class="txt">download</mat-icon>
      </button>
      <button mat-menu-item class="opt text-right" (click)="exportExpensesPdf()">

        <span class="mr-1"> تنزيل نموذج المصروفات </span>
        <mat-icon class="txt ">download</mat-icon>
      </button>
    </mat-menu>

  </mat-card-header>
  <mat-divider></mat-divider>

  <div class="search-div" fxLayout="row">
    <mat-form-field class="search-form-field" floatLabel="never">
      <input
        matInput
        [(ngModel)]="searchKey"
        placeholder="بحث"
        autocomplete="off"
        (keyup)="applyFilter()"
      />
      <button
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        *ngIf="searchKey"
        (click)="onSearchClear()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="example-container mat-elevation-z8">
    <mat-table
      [dataSource]="dataSource"
      #table
      matSort
      (matSortChange)="sortData($event)"
      matSortActive="Name"
      matSortDirection="asc"
      matSortDisableClear
    >
      <ng-container matColumnDef="all">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? toggleAllRows() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >الرقم</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.id }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="jobNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          الرقم الوظيفى</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.jobNumber }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="user">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
          اسم الموظف
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container>
            {{ element.user }}
          </ng-container>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="creationDate">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
          تاريخ الانشاء</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.creationDate | date : "yyyy-MM-dd" }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="updateDate">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
          تاريخ التعديل</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.updateDate | date : "yyyy-MM-dd" }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="jobDegree">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header
          >الدرجه الوظيفيه
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container>
            {{ element.jobDegree }}
          </ng-container>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="missionPurpose">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
          غرض المأمورية</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.missionPurpose }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="centerOfCost">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
          مركز التكلفة
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.centerOfCost }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="companyType">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
          نوع الشركة</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.companyType }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="missionPlace">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
          مكان المأمورية</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.missionPlace }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="startDateMission">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header
          >مده المأمورية من</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.startDateMission | date : "yyyy-MM-dd" }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="endDateMission">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
          مدة المأمورية الى
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.endDateMission | date : "yyyy-MM-dd" }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="noOfNights">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
          عدد الليالي</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.noOfNights }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="stay">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
          الاقامة</mat-header-cell
        >
        <mat-cell *matCellDef="let element"> {{ element.stay }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="mealsAndIncidentals">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
          الوجبات والنثريات</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.mealsAndIncidentals }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="missionTypeCost">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
          تكلفه نوع المأمورية</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.missionTypeCost }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="startDateStay">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
          مدة الاقامه من
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.startDateStay | date : "yyyy-MM-dd" }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="endDateStay">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
          مدة الاقامه الى
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.endDateStay | date : "yyyy-MM-dd" }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="permissionRequest">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
          طلب الاذن</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.permissionRequest }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="permissionDuration">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
          مده الاذن</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.permissionDuration }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
          الحاله</mat-header-cell
        >
        <mat-cell *matCellDef="let element"> {{ element.status }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="missionType">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
          نوع المأمورية</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.missionType }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdBy">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
          اسم المستخدم</mat-header-cell
        >
        <mat-cell *matCellDef="let element"> {{ element.createdBy }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="updateBy">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header
          >اسم المعدل</mat-header-cell
        >
        <mat-cell *matCellDef="let element"> {{ element.updateBy }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="comment">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header
          >التعليق</mat-header-cell
        >
        <mat-cell *matCellDef="let element"> {{ element.comment }} </mat-cell>
      </ng-container>



      <ng-container matColumnDef="exporAttach">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
           البريد المرفق</mat-header-cell
        >
        <mat-cell *matCellDef="let element" >
          <button mat-stroked-button class="mx-1" (click)="exportAttach(element.attachFileId)">
            <mat-icon class="">download</mat-icon>
            <span class="txt mr-1"> تنزيل  </span>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="exportmission">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
          نموذج المأمورية</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          <button
            mat-stroked-button
            class="mx-1"
            (click)="exportMissionFormPdf(element)"
          >
            <mat-icon class="">download</mat-icon>
            <span class="txt mr-1"> تنزيل ملف </span>
          </button>
        </mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="exportexpenses">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
          نموذج المصاريف</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          <button mat-stroked-button class="mx-1" (click)="exportExpensesPdf()">
            <mat-icon class="">download</mat-icon>
            <span class="txt mr-1"> تنزيل ملف </span>
          </button>
        </mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="action" sticky>
        <mat-header-cell *matHeaderCellDef> الاجراء </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="action">
          <ng-container>
            <!-- <button
              mat-button
              class="btn-info font-weight-bolder"
              matTooltip="تفاصيل"
              (click)="onDetails(row)"
            >
              <mat-icon>info</mat-icon>
            </button> -->
            <button
              mat-button
              class="btn-success mx-1 font-weight-bolder"
              matTooltip="تعديل"
              (click)="onEdit(row)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <!-- <button
              mat-button
              class="btn-success mx-1 font-weight-bolder"
              matTooltip="تعديل"
              (click)="onEditMission(row)"
            >
              <mat-icon>edit</mat-icon>
            </button> -->

            <button
              mat-button
              class="btn-danger"
              matTooltip="حذف"
              (click)="onDelete(row)"
            >
              <mat-icon>delete_forever</mat-icon>
            </button>
          </ng-container>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6">
          لا يوجد بيانات...
        </mat-footer-cell>
      </ng-container>

      <mat-footer-row
        *matFooterRowDef="['noData']"
        [ngClass]="{
          hide: !(dataSource.data.length == 0 && dataSource != null)
        }"
      ></mat-footer-row>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <!-- end test -->
  </div>
  <!-- </ng-template> -->
  <mat-paginator
    [pageSizeOptions]="[10, 25, 50, 100]"
    [pageSize]="10"
    showFirstLastButtons
  >
  </mat-paginator>
</mat-card>
