<mat-toolbar class="top" dir="rtl">
  <span class="fill-remaining-space"> تعديل</span>
  <div class="w-100">
    <button class="btn-dialog-close" mat-button tabIndex="-1" (click)="onClose()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</mat-toolbar>

<!-- --------------------------test----------------------------------------------------------- -->

<!--
<div class="row mb-5" *ngIf="!appear" style="margin: 100px 0;">
  <div class="col-12">
    <fieldset class="scheduler-border w-75">
      <legend class="scheduler-border"> <mat-icon>verified_user</mat-icon>  ادخل الرقم الوظيفي لاستكمال باقي البيانات</legend>
      <div class="control-group text-center ">

          <button mat-button class="btn-success" type="button" style="height: 49px;vertical-align:bottom;" (click)="search()">
            بحث
          </button>

            <mat-form-field appearance="outline" class="text-right w-75">
              <input  matInput placeholder=" الرقم الوظيفي"/>
              <mat-hint align="end"><strong>يجب أن يكون الموظف مسجل بالمجموعة</strong> </mat-hint>
              <mat-hint class="mat-error" align="start"><strong>هذا الموظف  غير مسجل بالمجموعة *</strong> </mat-hint>
            </mat-form-field>


      </div>
  </fieldset>
  </div>
</div> -->

<form [formGroup]="service.form" class="normal-form mx-0" (submit)="onSubmit()" dir="rtl">
  <!-- ------------------------------test----------------------- -->
  <div class="px-3" style="margin-top: 65px">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header>
          <mat-panel-title> بيانات الموظف </mat-panel-title>
        </mat-expansion-panel-header>
        <input type="hidden" formControlName="id" />
        <input type="hidden" formControlName="creationDate" />
        <input type="hidden" formControlName="createdBy" />
        <input type="hidden" formControlName="updateDate" />
        <input type="hidden" formControlName="updateBy" />
        <input type="hidden" formControlName="statusId" />
        <input type="hidden" formControlName="userId" />
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <mat-form-field class="w-100">
              <input formControlName="jobNumber" matInput placeholder=" الرقم الوظيفي" readonly />
            </mat-form-field>

            <mat-form-field class="w-100">
              <input formControlName="userName" matInput placeholder="اسم الموظف" readonly />
            </mat-form-field>
            
            <mat-form-field class="w-100">
              <input formControlName="teamName" matInput placeholder=" المجموعه" readonly />
            </mat-form-field>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <mat-form-field class="w-100">
              <input formControlName="jobDegreeName" matInput placeholder=" الدرجه الوظيفيه" readonly />
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-select formControlName="companyType" placeholder=" *نوع الشركه (--اختار--) ">
                <mat-option>-- Please select --</mat-option>
                <mat-option value="Tedate Staff">Tedate Staff</mat-option>
                <mat-option value="Outsource">Outsource</mat-option>
              </mat-select>
              <mat-error> * مطلوب </mat-error>
            </mat-form-field>
            <!-- <mat-form-field class="w-100">
          <input formControlName="companyType" matInput placeholder="نوع الشركه"  readonly/>
          <mat-error> * مطلوب </mat-error>
        </mat-form-field> -->
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
        <mat-expansion-panel-header>
          <mat-panel-title> بيانات المأمورية </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <mat-form-field class="w-100">
              <mat-select formControlName="missionTypeId" placeholder=" *نوع المأمورية (--اختار--) ">
                <mat-option>-- Please select --</mat-option>
                <mat-option *ngFor="let missionType of missionTypeList" [value]="missionType.id">
                  {{ missionType.name }}
                </mat-option>
              </mat-select>
              <mat-error> * مطلوب </mat-error>
            </mat-form-field>

            <mat-form-field class="w-100">
              <input formControlName="missionPlace" matInput placeholder="مكان المأمورية" />
              <mat-error> * مطلوب </mat-error>
            </mat-form-field>

            <mat-form-field class="w-100">
              <input formControlName="missionPurpose" matInput placeholder="غرض المأمورية" />
              <mat-error> * مطلوب </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <mat-form-field class="w-100">
              <mat-label>تاريخ بدء المأمورية </mat-label>
              <input matInput formControlName="startDateMission" [matDatepicker]="picker3" />
              <mat-datepicker-toggle matSuffix [for]="picker3">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
              <mat-error> * مطلوب </mat-error>
            </mat-form-field>

            <mat-form-field class="w-100">
              <mat-label>تاريخ انتهاء المأمورية</mat-label>
              <input matInput formControlName="endDateMission" [matDatepicker]="picker4"
                [min]="service.form.controls.startDateMission?.value" />
              <mat-datepicker-toggle matSuffix [for]="picker4">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker4></mat-datepicker>
              <mat-error> * مطلوب </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
              <input formControlName="missionTypeCost" type="number" min="0" matInput
                placeholder="تكلفه نوع المأمورية" />
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
        <mat-expansion-panel-header>
          <mat-panel-title> بيانات الاقامة </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <mat-form-field class="w-100">
              <input formControlName="centerOfCost" matInput placeholder="مركز التكلفه" readonly />
            </mat-form-field>

            <mat-form-field class="w-100">
              <mat-label>تاريخ بدء الاقامه</mat-label>
              <input matInput formControlName="startDateStay" [matDatepicker]="picker1" />

              <mat-datepicker-toggle matSuffix [for]="picker1">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <mat-error> * مطلوب </mat-error>
            </mat-form-field>

            <mat-form-field class="w-100">
              <mat-label>تاريخ انتهاء الاقامه</mat-label>
              <input matInput formControlName="endDateStay" [matDatepicker]="picker2"
                [min]="service.form.controls.startDateStay?.value" />
              <mat-datepicker-toggle matSuffix [for]="picker2">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <mat-error> * مطلوب </mat-error>
            </mat-form-field>

            <mat-form-field class="w-100">
              <input formControlName="stay" matInput placeholder="الاقامة" readonly />
            </mat-form-field>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-6">
            <mat-form-field class="w-100">
              <input formControlName="noOfNights" type="number" min="0" matInput placeholder="عدد الليالى" />
            </mat-form-field>

            <mat-form-field class="w-100">
              <input formControlName="mealsAndIncidentals" type="number" min="0" matInput placeholder="وجبات ونثريات" />
            </mat-form-field>

            <mat-form-field class="w-100">
              <input formControlName="permissionRequest" matInput placeholder="غرض الاذن" />
            </mat-form-field>
            <mat-form-field class="w-100">
              <input formControlName="permissionDuration" matInput placeholder="مدة الاذن" />
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
        <mat-expansion-panel-header>
          <mat-panel-title> بيانات أخرى </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 row">
            <mat-form-field class="col-md-6" *ngIf="statusShow">
              <mat-select formControlName="statusId" placeholder=" *الحاله (--اختار--) ">
                <mat-option>-- Please select --</mat-option>
                <mat-option *ngFor="let status of statusList" [value]="status.id">
                  {{ status.name }}
                </mat-option>
              </mat-select>
              <mat-error> * مطلوب </mat-error>
            </mat-form-field>
            <input *ngIf="!statusShow" formControlName="statusId" hidden />
            <!-- <input *ngIf="!statusShow" [value]="statusname" readonly/> -->
            <mat-form-field class="col-md-6" *ngIf="!statusShow">
              <input [value]="statusname" readonly matInput placeholder="الحاله" />
            </mat-form-field>

            <mat-form-field class="col-md-6">
              <mat-label>ارفاق ميل الموافقة</mat-label>
              <button mat-icon-button matPrefix type="button" (click)="f_input.click()">
                <mat-icon>attach_file</mat-icon>
              </button>
              <input type="text" readonly matInput formControlName="attachFile" />
              <input type="file" hidden #f_input (change)="handleFileInputChange($event)"
                (click)="f_input.value = null" />
              <mat-error> * مطلوب </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-6" *ngIf="commentStatus" style="margin-bottom: 50px;">
              <mat-label>ملاحظات</mat-label>
              <textarea formControlName="comment" matInput placeholder="ملاحظات" rows="5"  >
              </textarea>
            </mat-form-field>
            <div class="col-md-6">
            <div class="box" *ngIf="attachName">
              <mat-list>
                <mat-list-item>
                  <mat-icon mat-list-icon class="text-danger" (click)="removeFile(attachId)">delete_forever</mat-icon>

                  <div mat-line>{{ attachName }}</div>
                  <mat-icon>insert_drive_file</mat-icon>
                </mat-list-item>
              </mat-list>
            </div>
          </div>
            <!-- <mat-form-field class="col-md-12" *ngIf="commentStatus">
              <mat-label>ملاحظات</mat-label>
              <textarea formControlName="comment" matInput placeholder="ملاحظات" rows="5"  >
              </textarea>
            </mat-form-field> -->

            <mat-accordion class="details  col-md-12" *ngIf="dataSourceComment.data.length != 0 && dataSourceComment != null">
              <mat-expansion-panel  expanded="0" opened="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon>date_range</mat-icon> الملاحظات السابقة
                  </mat-panel-title>

                </mat-expansion-panel-header>

                <div class="example-container" #TABLE>
                  <mat-table [dataSource]="dataSourceComment"  #table>
                    <ng-container matColumnDef="comment">
                      <mat-header-cell *matHeaderCellDef>
                        الملاحظات</mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        {{
                        element.comment?.length > 50
                        ? (element.comment | slice : 0 : 50) + " ..."
                        : element.comment
                        }}



                      </mat-cell>

                    </ng-container>
                    <ng-container matColumnDef="creationDate">
                      <mat-header-cell *matHeaderCellDef>
                        تاريخ الانشاء </mat-header-cell>
                      <mat-cell *matCellDef="let element" data-label="Creation date">
                        {{ element.creationDate | date : "medium" }}
                      </mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="createdBy">
                      <mat-header-cell *matHeaderCellDef>
                        انشأ بواسطة</mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        {{ element.createdBy }}
                      </mat-cell>

                    </ng-container>




                    <mat-header-row *matHeaderRowDef="displayedCommentColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedCommentColumns">
                    </mat-row>
                  </mat-table>
                  <!-- ----------------------------------------------second table ------------------------------------------->


                  <!-- <mat-table [dataSource]="dataSourceComment1" *ngIf="add &&commentStatus">
                    <ng-container matColumnDef="comment">
                      <mat-cell *matCellDef="let element">
                        {{
                        element.comment?.length > 50
                        ? (element.comment | slice : 0 : 50) + " ..."
                        : element.comment
                        }}



                      </mat-cell>

                    </ng-container>
                    <ng-container matColumnDef="creationDate">

                      <mat-cell *matCellDef="let element" data-label="Creation date">
                        {{ element.creationDate | date : "medium" }}
                      </mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="createdBy">

                      <mat-cell *matCellDef="let element">
                        {{ element.createdBy }}
                      </mat-cell>

                    </ng-container>
                    <ng-container matColumnDef="createdByTeam">
                      <mat-cell *matCellDef="let element" data-label="Created by team">
                        {{ element.createdByTeam}}
                      </mat-cell>

                    </ng-container>

                    <mat-row *matRowDef="let row; columns: displayedCommentColumns">
                    </mat-row>
                  </mat-table> -->

                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <!-- <div class="col-sm-12 col-md-12 col-lg-12 ">



          </div> -->
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <mat-toolbar class="bottom">
    <div class="button-row w-100 text-center">
      <button mat-raised-button class="btn-success w-50" type="submit">
        ارسال
      </button>
    </div>
  </mat-toolbar>
</form>
