<div>
  <app-header></app-header>

  <mat-toolbar>
    <div class="brand-box">
      <img src="../../../../assets/image/we-Logo/we-black.jpg" width="70" height="65px">

    </div>
    <div class="brandTitle">
    <span class="brand ml-3"> Cash Management</span>
    </div>
       <span class="example-spacer"></span>

       <div fxShow="true" fxHide.lt-md="true" fxFlex fxLayout fxLayoutAlign="center" role="menu" dir="rtl">
         <!-- The following menu items will be hidden on both SM and XS screen sizes -->
         <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">الصفحة الرئيسية</a>
         <a  mat-button [matMenuTriggerFor]="mission" routerLinkActive="active">المأموريات</a>
         <mat-menu #mission="matMenu">
          <a  mat-menu-item routerLink="/summary"  routerLinkActive="active"> <mat-icon>checklist_rtl</mat-icon>المأموريات</a>
            <a  mat-menu-item [matMenuTriggerFor]="missionSettings"><mat-icon>settings</mat-icon> الاعدادات  </a>
        </mat-menu>
        <mat-menu #missionSettings="matMenu">

          <a  mat-menu-item routerLink="./missionType" routerLinkActive="active"> <mat-icon>playlist_add</mat-icon> نوع المأمورية</a>
            <a  mat-menu-item routerLink="./status"  routerLinkActive="active" *ngIf="ShowStatus"><mat-icon>approval</mat-icon>حالة المأمورية</a>

        </mat-menu>
         <a  mat-button [matMenuTriggerFor]="user" routerLinkActive="active">المستخدم </a>

              <mat-menu #user="matMenu">
                <a  mat-menu-item routerLink="./user" routerLinkActive="active"> <mat-icon>groups</mat-icon>المستخدمين</a>
                  <a  mat-menu-item [matMenuTriggerFor]="userSettings"><mat-icon>settings</mat-icon> الاعدادات  </a>
              </mat-menu>
              <mat-menu #userSettings="matMenu">

                <a  mat-menu-item routerLink="./jobDegree" routerLinkActive="active"> <mat-icon>assignment_ind</mat-icon>الدرجة الوظيفية</a>
                  <a  mat-menu-item routerLink="./role"  routerLinkActive="active"><mat-icon>admin_panel_settings</mat-icon>الصلاحية</a>

              </mat-menu>



       </div>

       <div class="menu-icon" fxFlex fxLayout fxLayoutAlign="end" fxShow="true" fxHide.gt-sm="true">
         <span  (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></span>
       </div>
     </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">

         <!-- start sidenav in sm screen -->
          <mat-sidenav #sidenav fxLayout="column">
            <div fxLayout="column">
              <!-- <button (click)="sidenav.toggle()" href="#" mat-button class="arrow"><mat-icon>arrow_back_ios</mat-icon></button> -->
              <a  mat-button  routerLink="./" routerLinkActive="active1" [routerLinkActiveOptions]="{exact:true}"> الصفحة الرئيسية</a>
              <a  mat-button [matMenuTriggerFor]="mission" routerLinkActive="active1">المأموريات</a>
              <mat-menu #mission="matMenu">
               <a  mat-menu-item routerLink="/summary"  routerLinkActive="active1"> <mat-icon>checklist_rtl</mat-icon>المأموريات</a>
                 <a  mat-menu-item [matMenuTriggerFor]="missionSettings"><mat-icon>settings</mat-icon> الاعدادات  </a>
             </mat-menu>
             <mat-menu #missionSettings="matMenu">

               <a  mat-menu-item routerLink="./missionType" routerLinkActive="active1"> <mat-icon>playlist_add</mat-icon> نوع المأمورية</a>
                 <a  mat-menu-item routerLink="./status"  routerLinkActive="active1"><mat-icon>approval</mat-icon>حالة المأمورية</a>

             </mat-menu>
              <a  mat-button [matMenuTriggerFor]="user" routerLinkActive="active1">المستخدم </a>

                   <mat-menu #user="matMenu">
                     <a  mat-menu-item routerLink="./user" routerLinkActive="active1"> <mat-icon>groups</mat-icon>المستخدمين</a>
                       <a  mat-menu-item [matMenuTriggerFor]="userSettings"><mat-icon>settings</mat-icon> الاعدادات  </a>
                   </mat-menu>
                   <mat-menu #userSettings="matMenu">

                     <a  mat-menu-item routerLink="./jobDegree" routerLinkActive="active1"> <mat-icon>assignment_ind</mat-icon>الدرجة الوظيفية</a>
                       <a  mat-menu-item routerLink="./role"  routerLinkActive="active1"><mat-icon>admin_panel_settings</mat-icon>الصلاحية</a>

                   </mat-menu>



            </div>
          </mat-sidenav>
          <!-- End sidenav -->

      <mat-sidenav-content fxFlexFill>

          <router-outlet>
          </router-outlet>
          <ngx-spinner type="timer">
            <h5>Loading</h5>
          </ngx-spinner>
          <button  (click)="scrollToTop()" [@fadeInOut] class="scroll-to-top" *ngIf="pageYoffset > 0" >
            <mat-icon>arrow_upward</mat-icon>
          </button>
       <app-footer></app-footer>

      </mat-sidenav-content>
    </mat-sidenav-container>

  </div>
