<mat-toolbar class="top" dir="rtl">
  <span class="fill-remaining-space"> اضافة</span>
  <div class="w-100">
    <button
      class="btn-dialog-close"
      mat-button
      tabIndex="-1"
      (click)="onClose()"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</mat-toolbar>

<form
  [formGroup]="service.form"
  class="normal-form mx-0"
  (submit)="onSubmit()"
  dir="rtl"
>
  <mat-grid-list cols="4" rowHeight="400" class="mx-3">
    <mat-grid-tile colspan="1">
      <div class="controles-container">
        <input type="hidden" formControlName="id">
        <input type="hidden" formControlName="creationDate" />
        <input type="hidden" formControlName="createdBy" />
        <input type="hidden" formControlName="updateDate" />
        <input type="hidden" formControlName="updateBy" />
       <input formControlName="statusId" type="hidden"/>
        <!-- <mat-form-field>
          <input formControlName="jobNumber" matInput placeholder=" الرقم الوظيفي" />
          <mat-error> * مطلوب </mat-error>
        </mat-form-field> -->

        <mat-form-field>
          <input formControlName="jobNumber" matInput placeholder=" الرقم الوظيفي" readonly />
          <!-- <mat-error>مطلوب</mat-error> -->
        </mat-form-field>
        <mat-form-field>
          <input formControlName="jobDegree" matInput placeholder=" الدرجه الوظيفيه" readonly/>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="userId" matInput placeholder="اسم الموظف"  type="number"/>
        </mat-form-field>
          <!-- <mat-select formControlName="userId" placeholder="الموظف (--اختار--) "  >
            <mat-option>-- Please select --</mat-option>
            <mat-option  *ngFor="let userr of userList"   [value]="userr.id">
              {{userr.name}}
            </mat-option>
          </mat-select>
          <mat-error> * مطلوب </mat-error> -->

        <!-- <mat-form-field>
          <mat-select formControlName="jobDegree" placeholder=" *الدرجه الوظيفيه (--اختار--) " >
            <mat-option>-- Please select --</mat-option>
            <mat-option>x</mat-option>
            <mat-option>y</mat-option>
            <mat-option>z</mat-option>
          </mat-select>
          <mat-error> * مطلوب </mat-error>
        </mat-form-field>  -->
        <br>
          <input formControlName="attachFile" type="file" placeholder=" ارفاق ملف" (change)="onChange($event)"/>

        <mat-form-field>
          <input formControlName="missionPurpose" matInput placeholder="غرض المهمه"/>
          <mat-error> * مطلوب </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="companyType"  placeholder=" *نوع الشركه (--اختار--) " >
            <mat-option>-- Please select --</mat-option>
            <mat-option value="Tedate Staff">Tedate Staff</mat-option>
            <mat-option value="Outsource">Outsource</mat-option>
          </mat-select>
          <mat-error> * مطلوب </mat-error>
        </mat-form-field>



        <!-- <mat-form-field>
        <mat-select formControlName="statusId" placeholder=" *الحاله (--اختار--) " >
          <mat-option>-- Please select --</mat-option>
          <mat-option  *ngFor="let status of statusList"   [value]="status.id">
            {{status.name}}
          </mat-option>
        </mat-select>
        <mat-error> * مطلوب </mat-error>
      </mat-form-field>

       -->



      </div>

    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <div class="controles-container">

<div class="d-flex w-100" >


  <!-- <mat-form-field class="w-50  ">
    <mat-label>مده الاقامه</mat-label>
    <input
      [ngxMatDatetimePicker]="startDateStay"
      formControlName="startDateStay"
      matInput
      placeholder="من"
      readonly
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="$any(startDateStay)"
    ></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #startDateStay>
    </ngx-mat-datetime-picker>
    <mat-error> * مطلوب </mat-error>
  </mat-form-field>  -->

  <!-- <mat-form-field class="w-50  " style="border-right:5px solid #fff">
    <input
      [ngxMatDatetimePicker]="endDateStay"
      formControlName="endDateStay"
      matInput
      placeholder=" الى"
      readonly
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="$any(endDateStay)"
    ></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #endDateStay>
    </ngx-mat-datetime-picker>
    <mat-error> * مطلوب </mat-error>
  </mat-form-field>  -->

      <mat-form-field class="w-50 ">
        <mat-label>تاريخ بدء الاقامه</mat-label>
        <input matInput formControlName="startDateStay" [matDatepicker]="picker1" >
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker1">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error> * مطلوب </mat-error>
      </mat-form-field>

      <mat-form-field class="w-50  " style="border-right:5px solid #fff">
        <mat-label>تاريخ انتهاء الاقامه</mat-label>
        <input matInput formControlName="endDateStay"  [matDatepicker]="picker2" [min]="service.form.controls.startDateStay?.value"  >

        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker2">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error> * مطلوب </mat-error>
      </mat-form-field>

</div>

<div class="d-flex w-100" >

  <mat-form-field class="w-50  ">
    <input
      formControlName="centerOfCost"
      matInput
      placeholder="مركز التكلفه"
      readonly
    />
  </mat-form-field>

  <mat-form-field class="w-50  " style="border-right:5px solid #fff">
    <input formControlName="missionPlace" matInput placeholder="مكان المهمه"/>
    <mat-error> * مطلوب </mat-error>
  </mat-form-field>


  </div>
  <div class="d-flex w-100" >
    <mat-form-field class="w-50  " >
      <input
        formControlName="stay"
        matInput
        placeholder="الاقامة"
        readonly
      />
    </mat-form-field>
    <mat-form-field class="w-50  " style="border-right:5px solid #fff">
      <input
        formControlName="mealsAndIncidentals"
        type="number"
        min="0"
        matInput
        placeholder="وجبات ونثريات"
      />
    </mat-form-field>
  </div>


    <div class="d-flex w-100" >

       <mat-form-field class="w-50  " >
        <mat-label>تاريخ بدء المهمه </mat-label>
        <input matInput formControlName="startDateMission" [matDatepicker]="picker3" >
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker3">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
        <mat-error> * مطلوب </mat-error>
      </mat-form-field>

      <mat-form-field class="w-50  " style="border-right:5px solid #fff">
        <mat-label>تاريخ انتهاء المهمه</mat-label>
        <input matInput formControlName="endDateMission"  [matDatepicker]="picker4" [min]="service.form.controls.startDateMission?.value"  >
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker4">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker4></mat-datepicker>
        <mat-error> * مطلوب </mat-error>
      </mat-form-field>










<!--
       <mat-form-field class="w-50  ">
        <mat-label>مده الماموريه</mat-label>
        <input
          [ngxMatDatetimePicker]="startDateMission"
          formControlName="startDateMission"
          matInput
          placeholder="من"
          readonly
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="$any(startDateMission)"
        ></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #startDateMission>
        </ngx-mat-datetime-picker>
        <mat-error> * مطلوب </mat-error>
      </mat-form-field>  -->

      <!-- <mat-form-field class="w-50  " style="border-right:5px solid #fff">
        <input
          [ngxMatDatetimePicker]="endDateMission"
          formControlName="endDateMission"
          matInput
          placeholder=" الى"
          readonly
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="$any(endDateMission)"
        ></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #endDateMission>
        </ngx-mat-datetime-picker>
        <mat-error> * مطلوب </mat-error>
      </mat-form-field>  -->


      </div>
      <div class="w-100" >
        <mat-form-field class="w-100  ">
          <textarea formControlName="comment" matInput placeholder="ملاحظات" >
            </textarea>
        </mat-form-field>
        </div>

        </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
          <div class="controles-container">

            <mat-form-field >
              <input
                formControlName="noOfNights"
                type="number"
                min="0"
                matInput
                placeholder="عدد الليالى"
              />
            </mat-form-field>
            <mat-form-field>
              <mat-select formControlName="missionTypeId" placeholder=" *نوع المهمه (--اختار--) "  >
                <mat-option>-- Please select --</mat-option>
                <mat-option  *ngFor="let missionType of missionTypeList"   [value]="missionType.id">
                 {{missionType.name}}
                </mat-option>
              </mat-select>
              <mat-error> * مطلوب </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="permissionRequest" matInput placeholder="غرض الاذن"/>
            </mat-form-field>
            <mat-form-field>
              <input
                formControlName="permissionDuration"
                matInput
                placeholder="مدة الاذن"
              />
            </mat-form-field>

            <mat-form-field>
              <input
                formControlName="missionTypeCost"
                type="number"
                min="0"
                matInput
                placeholder="تكلفه نوع المهمه"
              />
            </mat-form-field>

          </div>

            <!-- </div> -->
            </mat-grid-tile>


  </mat-grid-list>
  <mat-toolbar class="bottom">
    <div class="button-row w-100 text-center">
      <button mat-raised-button class="btn-success w-50" type="submit">
        ارسال
      </button>
    </div>
  </mat-toolbar>
</form>

<ngx-spinner type="timer">
  <h5>Loading</h5>
</ngx-spinner>
