<mat-toolbar class="top" dir="rtl">
  <span class="fill-remaining-space"> اضافة</span>
  <div class="w-100">
    <button
      class="btn-dialog-close"
      mat-button
      tabIndex="-1"
      (click)="onClose()"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="row mb-5" *ngIf="!appear" style="margin: 100px 0;">
  <div class="col-12">
    <fieldset class="scheduler-border w-75">
      <legend class="scheduler-border"> <mat-icon>verified_user</mat-icon>  ادخل الرقم الوظيفي لاستكمال باقي البيانات</legend>
      <div class="control-group text-center ">

          <button mat-button class="btn-success" type="button" style="height: 49px;vertical-align:bottom;" (click)="search(jobNumber.value)">
            بحث
          </button>

            <mat-form-field appearance="outline" class="text-right w-75">
              <input #jobNumber matInput placeholder=" الرقم الوظيفي"/>
              <mat-hint align="end"><strong>يجب أن يكون الموظف مسجل بالمجموعة</strong> </mat-hint>
              <mat-hint *ngIf="!sameTeam" class="mat-error" align="start"><strong>هذا الموظف  غير مسجل بالمجموعة *</strong> </mat-hint>
            </mat-form-field>


      </div>
  </fieldset>
  </div>
</div>


<form
  [formGroup]="service.form"
  class="normal-form mx-0"
  (submit)="onSubmit()"
  dir="rtl"
>
<!-- ------------------------------test----------------------- -->
<div class="px-3" *ngIf="appear" style="margin-top: 90px;">
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel    expanded="0"
  opened="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
       بيانات الموظف
      </mat-panel-title>
    </mat-expansion-panel-header>
    <input type="hidden" formControlName="id">
    <input type="hidden" formControlName="userId">
    <input type="hidden" formControlName="creationDate" />
    <input type="hidden" formControlName="createdBy" />
    <input type="hidden" formControlName="updateDate" />
    <input type="hidden" formControlName="updateBy" />
   <input formControlName="statusId" type="hidden"/>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <mat-form-field class="w-100">
          <input formControlName="jobNumber" matInput placeholder=" الرقم الوظيفي" readonly />
        </mat-form-field>

        <mat-form-field class="w-100">
          <input formControlName="userName" matInput placeholder="اسم الموظف" readonly />
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <mat-form-field class="w-100">
          <input formControlName="jobDegreeName" matInput placeholder=" الدرجه الوظيفيه" readonly/>
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-select formControlName="companyType"  placeholder=" *نوع الشركه (--اختار--) " >
            <mat-option>-- Please select --</mat-option>
            <mat-option value="Tedate Staff">Tedate Staff</mat-option>
            <mat-option value="Outsource">Outsource</mat-option>
          </mat-select>
          <mat-error> * مطلوب </mat-error>
        </mat-form-field>

      </div>

    </div>

  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
       بيانات المأمورية
      </mat-panel-title>

    </mat-expansion-panel-header>

    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <mat-form-field class="w-100">
          <mat-select formControlName="missionTypeId" placeholder=" *نوع المأمورية (--اختار--) ">
            <mat-option>-- Please select --</mat-option>
            <mat-option  *ngFor="let missionType of missionTypeList"   [value]="missionType.id">
             {{missionType.name}}
            </mat-option>
          </mat-select>
          <mat-error> * مطلوب </mat-error>
        </mat-form-field>


        <mat-form-field class="w-100">
    <input formControlName="missionPlace" matInput placeholder="مكان المأمورية"/>
    <mat-error> * مطلوب </mat-error>
  </mat-form-field>

  <mat-form-field class="w-100">
    <input formControlName="missionPurpose" matInput placeholder="غرض المأمورية"/>
    <mat-error> * مطلوب </mat-error>
  </mat-form-field>

        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <mat-form-field class="w-100" >
            <mat-label>تاريخ بدء المأمورية </mat-label>
            <input matInput formControlName="startDateMission" [matDatepicker]="picker3" >
            <mat-datepicker-toggle matSuffix [for]="picker3">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
            <mat-error> * مطلوب </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100">
            <mat-label>تاريخ انتهاء المأمورية</mat-label>
            <input matInput formControlName="endDateMission"  [matDatepicker]="picker4" [min]="service.form.controls.startDateMission?.value">
            <mat-datepicker-toggle matSuffix [for]="picker4">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
            <mat-error> * مطلوب </mat-error>
          </mat-form-field>
          <mat-form-field class="w-100">
            <input
              formControlName="missionTypeCost"
              type="number"
              min="0"
              matInput
              placeholder="تكلفة المأمورية"
            />
          </mat-form-field>
        </div>

        </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
       بيانات الاقامة
      </mat-panel-title>

    </mat-expansion-panel-header>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <mat-form-field class="w-100">
          <input
            formControlName="centerOfCost"
            matInput
            placeholder="مركز التكلفه"
            readonly
          />
        </mat-form-field>


        <mat-form-field class="w-100">
          <mat-label>تاريخ بدء الاقامه</mat-label>
          <input matInput formControlName="startDateStay" [matDatepicker]="picker1" >

          <mat-datepicker-toggle matSuffix [for]="picker1">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error> * مطلوب </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>تاريخ انتهاء الاقامه</mat-label>
          <input matInput formControlName="endDateStay"  [matDatepicker]="picker2" [min]="service.form.controls.startDateStay?.value"  >
          <mat-datepicker-toggle matSuffix [for]="picker2">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error> * مطلوب </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
          <input
            formControlName="stay"
            matInput
            placeholder="الاقامة"
            readonly
          />
        </mat-form-field>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6">
          <mat-form-field class="w-100">
            <input
              formControlName="noOfNights"
              type="number"
              min="0"
              matInput
              placeholder="عدد الليالى"
            />
          </mat-form-field>


          <mat-form-field class="w-100">
            <input
              formControlName="mealsAndIncidentals"
              type="number"
              min="0"
              matInput
              placeholder="وجبات ونثريات"
            />
          </mat-form-field>

          <mat-form-field class="w-100">
            <input formControlName="permissionRequest" matInput placeholder="غرض الاذن"/>
          </mat-form-field>
          <mat-form-field class="w-100">
            <input
              formControlName="permissionDuration"
              matInput
              placeholder="مدة الاذن"
            />
          </mat-form-field>

        </div>
        </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        بيانات أخرى
      </mat-panel-title>

    </mat-expansion-panel-header>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">

        <!-- <mat-form-field class="w-100">
        <mat-select formControlName="statusId" placeholder=" *الحاله (--اختار--) " >
          <mat-option>-- Please select --</mat-option>
          <mat-option  *ngFor="let status of statusList"   [value]="status.id">
            {{status.name}}
          </mat-option>
        </mat-select>
        <mat-error> * مطلوب </mat-error>
      </mat-form-field> -->

      <!-- <input formControlName="attachFile"   type="file" placeholder=" ارفاق ملف" (change)="onChange($event)"/> -->

      <mat-form-field class="w-100">
        <mat-label>ارفاق ميل الموافقة</mat-label>
        <button mat-icon-button matPrefix  type="button" (click)="f_input.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
        <input type="text" readonly matInput   formControlName="attachFile" />
        <input
          type="file"
          hidden
          #f_input
          (change)="handleFileInputChange($event)" (click)="f_input.value=null"
        />
        <!-- accept="image/png, image/jpeg ,application/vnd.ms-outlooK" -->
        <mat-error> * مطلوب </mat-error>
        <mat-error  *ngIf="NotAcceptExtension==1">Not Acceptable Extension only acceotable extenstion(jpeg,jpg,png,msg)</mat-error>
      </mat-form-field>
      <div class="box" *ngIf="fileName">
        <mat-list>
          <mat-list-item>
          <mat-icon mat-list-icon class=" text-danger" (click)="removeFile()">delete_forever</mat-icon>

          <div mat-line>{{ fileName }}</div>
          <mat-icon>insert_drive_file</mat-icon>
        </mat-list-item>
        </mat-list>
       </div>


      <!-- <mat-card *ngIf="file_list.length" style="margin-top: 16px;">
        <mat-list>
          <div mat-subheader> الملفات المختارة ({{ file_list.length }})</div>
         <div class="box">
          <mat-list-item *ngFor="let file of file_list; index as i">
            <mat-list-item>
            <mat-icon mat-list-icon class=" text-danger"(click)="removeFile(i)">delete_forever</mat-icon>

            <div mat-line>{{ file }}</div>
            <mat-icon>insert_drive_file</mat-icon>
          </mat-list-item>
         </div>
        </mat-list>
      </mat-card> -->


        </div>
        <!-- <div class="col-sm-6 col-md-6 col-lg-6">
          <mat-form-field class="w-100  ">
            <mat-label>ملاحظات</mat-label>
            <textarea formControlName="comment" matInput placeholder="ملاحظات" rows="5">
              </textarea>
          </mat-form-field>
        </div> -->
        </div>

  </mat-expansion-panel>
</mat-accordion>
</div>
<mat-toolbar class="bottom">
  <div class="button-row w-100 text-center">
    <button mat-raised-button class="btn-success w-50" type="submit" *ngIf="appear">
      ارسال
    </button>
  </div>
</mat-toolbar>
</form>
